a{
  text-decoration: none;
  color: black;
}
h1{
  background: #87CEEB;
  padding: 6px;
  color: white;
  text-align: center;
}
hr{
  color: #87CEEB;
  height: 2px;
  background: #87CEEB;
}
footer{
  text-transform: uppercase;
}
.p2 {
  text-transform: uppercase;
  font-size: 19pt;
}
.sas{
  float: right;
}
ul {
padding-left: 0;
margin-left: 0;
}
body{
  margin-left: 0px;
  background: url(p/op.jpg);
  background-size: 1920px 1080px;
  background-repeat:no-repeat;
}
i{
  color: white;
  background: #87CEEB;
}
.bt, .showing, .ban{
  background-color: transparent;
  border: 0;
  padding: 0;
  color: white;
}
td {
  text-align: center;
}
.img1{
  border: 2px solid  #87CEEB;
}
.text1{
  position: absolute;
  color: white;
  padding-left: 55px;
  padding-top: 210px;
}
h2{
  text-align: center;
}
.name{
  color: #00008B;
  background-color: #E3F2F7;
  border: 2px inset #00008B;
  width: 250px;
  margin-left: 11px;
}
.answer{
  color: #00008B;
  background-color: #E3F2F7;
  border: 2px inset #00008B;
  width: 250px;
}
.str{
  display: inline;
}
.bl{
  display: block;
}
.anim{
  position: absolute;
}
.sho{
  color: blue;
  font-family: sans-serif;
  font-size: 31px;
  font-weight: bold;
}
.block{
  background-color: red;
  width: 400px;
  height: 400px;
}
.circle{
  border-radius: 50%;
  width:54px;
  height:54px;
  background-color: yellow;
}
.blo{
  width: 154px;
  height: 154px;
  background-color: blue;
}
